.social-buttons-section {
  margin-bottom: 30px;
}

.social-buttons-section h3 {
  font-family: "gineso-condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.social-buttons-section button {
  margin-right: 20px;
  margin-bottom: 10px;
}
